.holder{
  display: flex;          
  flex-wrap: wrap;        
  justify-content: space-evenly; 
}


.item{
  width: 150px;
  height: 100px;
  background-color: lightblue;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}